name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests with Python

    strategy:
      matrix:
        django-version:
          - "2.2"
          - "3.0"
          - "3.1"
          - "3.2"
          - "4.0"
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}

      - name: Upgrade django version
        run: |
          python -m pip install "Django~=${{ matrix.django-version }}.0"

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: Run django-friendship tests
        run: |
          python runtests.py

      # - name: Format with black
      #   run: |
      #     black --check .
