name: CI

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests with Python

    strategy:
      matrix:
        django-version:
          - "2.2"
          - "3.0"
          - "3.1"
          - "3.2"
        python-version:
          - "3.6"
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10-dev"
          - "pypy2"
          - "pypy3"

    steps:
      - uses: actions/checkout@v1
        with:
          fetch-depth: 1

      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}

      - name: Configure pip caching
        uses: actions/cache@v2
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.django-version }}-pip-${{ hashFiles('**/setup.cfg') }}
          restore-keys: |
            ${{ runner.os }}-${{ matrix.python-version }}-${{ matrix.django-version }}-pip-

      - name: Upgrade pip
        run: |
          python -m pip install --upgrade pip
        # if: steps.cache.outputs.cache-hit != 'true'

      - name: Upgrade django version
        run: |
          python -m pip install "Django~=${{ matrix.django-version }}.0"

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: Run django-friendship tests
        run: |
          python runtests.py

      # - name: Format with black
      #   run: |
      #     black --check .
