name: CI

on:
  pull_request:
    paths:
      - ".github/workflows/actions.yml"
      - "**.py"
  push:
    branches:
      - main

concurrency:
  group: test-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  test:
    runs-on: ubuntu-latest
    name: Tests with Python

    strategy:
      matrix:
        django-version:
          - "4.2"
          - "5.0"
          - "5.1"
        python-version:
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
          - "3.12"
        exclude:
          # # Python 3.11 is compatible with Django 4.0+
          # - python-version: "3.11"
          #   django-version: "3.2"
          # # Python 3.12 is compatible with Django 4.0+
          # - python-version: "3.12"
          #   django-version: "3.2"
          # Django 5.0 is compatible with Python 3.10+
          - python-version: "3.8"
            django-version: "5.0"
          - python-version: "3.9"
            django-version: "5.0"
          # Django 5.1 is compatible with Python 3.10+
          - python-version: "3.8"
            django-version: "5.1"
          - python-version: "3.9"
            django-version: "5.1"

    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          cache: 'pip'
          python-version: ${{ matrix.python-version }}

      - name: Upgrade django version
        run: |
          python -m pip install "Django~=${{ matrix.django-version }}.0"

      - name: Install dependencies
        run: |
          python -m pip install -e ".[test]"

      - name: Run django-friendship tests
        run: |
          python runtests.py

      # - name: Format with black
      #   run: |
      #     black --check .
